/* Write your CSS here */

.app-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin: 20px;
}
.app-img {
  width: 70px;
}

.app-name {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 20px;
}
